@import url('https://fonts.googleapis.com/css?family=Cookie|Dancing+Script');

.my-photo {
    background-color: grey;
    background-image: url('imran.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    background-attachment: fixed;
}

.my-arabic-text {
    color: orangered;
    padding-top: 15px;
    padding-bottom: 15px;
}

.my-para-text {
    color: white;
    font-size: 1rem;
}

.my-button {
    color: black;
    background-color: orangered;
}

input[type=submit] {
    background-color: orangered;
    color: black;
}

.my-form-label {
    color: white;
}

.my-form-block {
    background:rgba(0,0,0,0.5);
    opacity: 1;
}